.clean-button {
    background: none;
    border: none;
    text-decoration: none;
    color: white;
    padding-left: 1.5em;
}

.clean-button:hover {
    color: #cff27e;
}

.button-icon {
    font-size: 28px;
}